@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

.App {
  color: rgb(143, 81, 81);
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

.App-main {
  background-color: #f7caad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  perspective: 40px;
}

.App-link {
  color: #61dafb;
}

em {
  font-style: normal;
  font-weight: bold;
  color: green;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 1em;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

header {
  position: fixed;
  top: 0;
  right: 0;

  text-align: right;
  width: 100%;
  padding: 1em 1.5em;
  z-index: 1;
}

header a {
  margin-left: 1.5em;
}

a {
  font-weight: bold;
  border-bottom: 2px solid rgb(143, 81, 81);
}

.actions {
  display: flex;
}

.button {
  font-size: 1rem;
  color:rgb(143, 81, 81);
  border: 1px solid rgb(143, 81, 81);
  border-radius: 8px;
  padding: 1em;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: bold;
  background-color: rgba(143, 81, 81, 0.05);

  display: flex;
  align-items: center;

  cursor: pointer;
}

.button:hover {
  background-color: rgba(143, 81, 81, 0.1);
}

.button:not(:first-child) {
  margin-left: 1em;
}

.button .material-icons-round {
  margin-left: 0.25em;
}